/data
/lightning_logs
/lightning_logs_old
/myssl
/__pycache__
/simsiam_cifar10
*.ckpt
*.out
*.sh
/old
*.input
/Saved_models
/Saved_models_512_temp_0_1
/Saved_models_512_temp_0_5
/Saved_models_4096_temp_0_5
/outputs
/noisy_ssl